.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px 12px;
  background-color: var(--dark-color);
  height: 100vh;
}

.logo {
  margin: 0 0 20px 16px;
}

.menu-list {
  display: grid;
  grid-gap: 8px;
  margin-bottom: 32px;
}

.menu-button {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  column-gap: 12px;
  color: var(--light-color);
  padding: 16px 12px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;

  &:hover,
  &:focus-visible,
  &.active {
    color: var(--primary-color);
    background-color: var(--dark-hover-color);
  }
}

.medium-text {
  padding: 0 12px;
  margin-bottom: 8px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.to-subscribers-link {
  display: inline-flex;
  column-gap: 8px;
  align-items: center;
  color: var(--primary-color);
  padding: 16px 12px;
  flex-shrink: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-hover-color);
  border-radius: 4px;
  padding: 4px 12px;
  margin-top: auto;
  font-weight: 700;
}

.skeleton-user, .user {
  display: grid;
  align-items: center;
  column-gap: 12px;
  padding: 16px 12px;
  width: 100%;
}

.skeleton-user {
  grid-template-columns: 32px 1fr;

  &__avatar,
  &__line {
    background-color: var(--dark-grey);
    animation: pulse 1.2s ease-in-out infinite;
  }

  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  &__line {
    height: 16px;
    width: 80%;
    border-radius: 4px;
  }
}

.user {
  grid-template-columns: 32px 1fr 24px 24px;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
