@keyframes skeleton-shimmer {
  0%   {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.skeleton {
  display: inline-flex;
  border-radius: 8px;
  background: linear-gradient(90deg,
    var(--dark-grey) 10%,
    var(--grey-color) 37%,
    var(--dark-grey) 63%);
  background-size: 200% 100%;
  animation: skeleton-shimmer 3s linear infinite;
  vertical-align: bottom;
}

.skeleton {
  &--circle {
    border-radius: 50%;
  }

  &--text {
    border-radius: 4px;
  }
}
