body {
  font-family: var(--font-family);
  background-color: var(--site-bg-color);
  color: var(--light-color);
  background: var(--site-bg) no-repeat;
  background-size: cover;
}

.wrapper {
  display: grid;
  grid-gap: 8px;
}
