.label {
  font-weight: 700;
  row-gap: 8px;
}

.input-wrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 12px 48px 12px 20px;
  border-radius: 4px;
}

.button {
  &--primary {
    width: 100%;
    margin-top: 34px;
  }

  &--action {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
  }

  &--active {
    color: var(--primary-color);
  }
}
